<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container flex-grow-1 m-auto p-0">
    <header class="container">
        <%-include('../partials/header'); %>
    </header>

    <main class="container">
        <div class="jumbotron">
            <h1 class="text-dark">This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
        <section class="row">
            <section class="col-9 h-100">
                <h3>This is an about page</h3>
                <p>Here could go some information</p>
            </section>
            <aside class="col-3 float-end h-100">
                <h3 class="text-dark text-decoration-underline">Profile</h3>
                <img src="https://placehold.co/200x200/png" />
                <p>This is me!!</p>
            </aside>
        </section>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>