<section class="footer d-flex row justify-content-center">
    <div class="flex">
        <div class="col">
            <p class="text-center text-muted">&copy; Copyright 2020 The Awesome People</p>
        </div>
    </div>
</section>