<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="./assets/icon.gif" /></a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/works">Works</a>
        </li>
    </ul>
</nav>